.dashboard-canvas {
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(0, 0, 0, .1) 1px,
    transparent 0
  );
  background-size: 20px 20px;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.note-container {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  width: max-content;
  height: max-content;
  /* border: 1px solid #ffb0f8 */
}
