/* Animated loading bar for Dashboard */
.dashboard-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  background: linear-gradient(270deg, #6366f1, #60a5fa, #34d399, #fbbf24, #6366f1);
  background-size: 400% 400%;
  animation: dashboardLoadingBarMove 2s linear infinite;
  opacity: 0;
  transition: opacity 0.1s ease-in;
  animation-play-state: paused;
}
.dashboard-loading-bar.active {
  opacity: 1;
}
.dashboard-loading-bar.running {
  animation-play-state: running;
}
.dashboard-loading-bar.paused {
  animation-play-state: paused;
}

@keyframes dashboardLoadingBarMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.dashboard-canvas {
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(0, 0, 0, .1) 1px,
    transparent 0
  );
  background-size: 20px 20px;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.note-container {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  width: max-content;
  height: max-content;
  /* border: 1px solid #ffb0f8 */
}
